$softPink: #F9D8D4;
$yellow: #F9A734;
$DarkYellow: #FB8B24;
$green: #36964C;
$DarkGreen: #286E38;

.home-root {
    display: grid;
    grid-template-rows: 8em auto 7em;
    grid-template-columns: auto auto auto;
    row-gap: 1em;

    .home-topbar {
        grid-row: 1/2;
        grid-column: 1/4;
        align-self: center;
    }
    .home-image {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .home-urlbar {
        grid-row: 3/4;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1/4;
    }
}
