.dialog {
    display: flex;
    justify-content: center;

    .inner-dialog {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 20em;
        height: 22em;

        .person-icon-avatar {
            height: 3.5em;
            width: 3.5em;
            margin-top: 1em;
            margin-bottom: 0.7em;
            
            .MuiSvgIcon-root {
                font-size: 3rem;
            }    
        }

        .list-item {
            text-align: center;
            padding: 2px;
        }
    }
}
.dialog-icon-button {
    .avatar {
        color: white;
        background-color: yellowgreen;
    }

    &:hover {
        background-color: unset;
    }
}

@media all and (max-width: 768px) { 
    .dialog {
        .inner-dialog {
            height: 20em;
            width: 18em;

            .person-icon-avatar {
                height: 3em;
                width: 3em;

                .MuiSvgIcon-root {
                    font-size: 2.5rem;
                }  
            }
        }
    }
    .dialog-icon-button {
        .avatar {
            height: 1.8em;
            width: 1.8em;
        }
    }
}